html{
  overflow:hidden;
}
ul,li,div,body{
  margin:0;
  padding:0;
  color:#808080;
}
body{
  width: 100vw;
  height: 100vh;
}
header{
  /*display:flex;
  justify-content:space-between;
  align-items:center;*/
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:4.9vh;
  line-height:4.9vh;
  box-shadow:0 7px 5px #cfcfcf;
  background-color:#ffffff;
}
.header-logo-container{
  float:left;
  display:block;
  width:8%;
  font-style:normal;
}
.logo{
  display:block;
  font-size: 14px;
  margin-left:18%;
  text-shadow:3px 1px 4px #808080;
  cursor:pointer;
}
.header-logo-list{
  z-index:1000;
  display: none;
  /*position:absolute;
  top:30px;
  left:0;*/
  width:100%;
  padding-left:0.6em;
  padding-right:0.6em;
  padding-bottom:0.55em;
  box-shadow:1px 7px 5px #cfcfcf;
  background-color:#ffffff;
}
.header-logo-list ul{
  list-style:none;
}
.header-logo-list ul li  /*display:flex;
  justify-content:space-between;
  align-items:center;*/{
  display:block;
  width:100%;
  text-align:center;
  cursor:pointer;
}
.header-logo-list ul li:hover{
  text-shadow:0 0 1px #808080;
  color:#cfcfcf;
}
.header-logo-list ul li i{
  display:block;
  width:100%;
  height:0px;
  border:1px solid #cfcfcf;
  border-radius:50%;
}
.icon{
  float:left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon>i{
  display:block;
  margin-left:13px;
  cursor:pointer;
}
.icon>i:hover{
  box-shadow:2px 7px 5px #cfcfcf;
}
.icon-first{
  width:1.25em;
  height:1.25em;
  background-color:#808080;
  border-radius:50%;
}
.icon-second{
  width:1.25em;
  height:1.25em;
  background-color:#808080;
}
.icon-third{
  width:0.9em;
  height:0.9em;
  border-radius: 20%;
  border:5px solid #808080;
}
.time{
  float:right;
  margin-right:1%;
}
.main{
  width:100%;
  height:95%;
}
.file-manager{
  position:absolute;
  display:none;
  flex-direction:column;
  justify-content: space-between;
  top:10%;
  left:10%;
  width:60vw;
  height: 30vw;
  background-color:#ffffff;
  border-radius:3px;
  border:1px solid #cfcfcf;
  box-shadow:1px 7px 5px #cfcfcf;
}
.file-manager-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  height:3vw;
  background-color:#cfcfcf;
}
.file-manager-header-close{
  display:block;
  margin-right:1vw;
  width:1.5vw;
  height: 1.5vw;
  border-radius: 100%;
  background-color: #fcfcfc;
  cursor:pointer;
}
.file-main-content{
  width: 100%;
  height: 100%;
}
#file-iframe{
  width:100%;
  height:100%;
  border-radius:0,0,3px,3px;
  border:0;
}
.file-iframe-header-form{
  height: 90%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.file-iframe-header-form>input{
  width:19vw;
  height:59%;
  border:0;
  padding-top:6%;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:6%;
  margin-left:1vw;
  border-radius:4%;
  box-shadow:0 5px 7px #cfcfcf;
}
.file-iframe-header-form>button{
  height:71%;
  border-radius:4%;
  border:0;
  background-color:#fcfcfc;
  margin-left:5px;
}
button{
    color:#808080;
}
